* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(192, 238, 255);
    text-align: center;

}

.container {

    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;


}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {

   height: 18vmin;
    width: 18vmin;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(0, 0, 83);
    background-color: rgb(255, 255, 255);
}

.box:hover {
    background-color: rgb(0, 0, 83);
    color: rgb(238, 247, 255);


}

#reset-btn {


    background-color: rgb(0, 0, 83);

    padding: 1rem;
    color: aliceblue;
    font-size: 1rem;
    border: none;
}

#reset-btn:hover {

    background-color: aliceblue;
    color: rgb(0, 0, 83);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);

}

#new-btn {


    background-color: rgb(12, 212, 62);
    margin: 1rem;
    padding: 1rem;
    color: aliceblue;
    font-size: 1rem;
    border: none;
}

#start-btn:hover {


    color: rgb(12, 212, 62);
    background-color: rgb(253, 254, 255);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);

}

#msg {
    font-size: 8vmin;
    font-weight: 600px;
    color: rgb(255, 24, 24);
}
.msg-container{
    height: 15vmin;
}

.hide {
    display: none;
}